
body {
    margin: 20px;
    font-family: Verdana, sans-serif;
}


p, label {
    font-family: Tahoma, sans-serif;
}


textarea {
    width: 200px;
}


input[name="email"] {
    background-color: #eeeeee;
}